body {
    margin: 15px;
}
main{
    background-color: black;
  }
  h1 {
    color:yellow;
    font-size: 70px;
    font-family:Brush Script MT, Brush Script Std, cursive, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width:5em
  }
  p{
    color:yellow;
    font-size: 25px;
    font-family: Apple Chancery, cursive, sans-serif;
    text-align: left
   
    
  }
  a{
    color:yellow;
    display:block;
    text-align: center
   }
  li{
    color:yellow;
    font-size: 20px;
    font-family: Apple Chancery, cursive, sans-serif;
  }
  img{
    border-color:yellow;
    border-width:5px;
    border-style:solid;
    width:300px;
    max-width:100%;
    height:auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
   
   }
  img{
    width: max;
  }
  /* 
  -can be for 7 inch tablets
  -This CSS will apply for devices with the minimum width of 480 pixels
   */
  @media only screen and (min-width: 480px) {
       #mainHeader {
            background-color:#EFEF34;
       }
       
       nav ul li{
            float:left;
            width:25%;
       }
  }
  /*
  -10 inch tablets
  -This CSS will apply for devices with the minimum width of 768 pixels
  */
  @media only screen and (min-width: 768px) {
       #mainHeader {
            background-color:#EDD49A;
       }
       
       #mainSection{
            float: left;
            width: 61%;
       }
       
       #sideBox1{
            float: right;
            width: 30%;
       }
       
  }
  /*
  -Desktop computers
  -This CSS will apply for devices with the minimum width of 1140 pixels
  */
  @media only screen and (min-width: 1140px) {
       #mainHeader {
            background-color:#CE9429;
       }
       
       #responsiveLogo{
            float:left;
            width:30%;
       }
       
       nav{
            float:left;
            width:70%;
       }
       
       nav ul{
            margin:1.5em 0 0 0;
       }
  }
  